# Exclude Gradle build files
kafka-basics/.gradle/
kafka-basics/build/

# Exclude IntelliJ IDEA project files
.idea/

# Exclude compiled Java classes
*.class

# Exclude temporary files
*.lock
*.bin

# Exclude specific directories within build/tmp
build/tmp/compileJava/
build/tmp/jar/

